@{
	ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Run Groups</h1>
		<p class="lead text-muted">Welcome to the runners club</p>
		<p>
			@if (User.Identity.IsAuthenticated)
			{


				<a type="button" class="btn btn-primary" asp-area="" asp-controller="Club" asp-action="Create">Create Club</a>
				<a type="button" class="btn btn-primary" asp-area="" asp-controller="Race" asp-action="Create">Create Race</a>
				
			}
			else
			{
				
					<a lass="nav-link text-dark" asp-area="" asp-controller="Account"
				   asp-action="Login"><button class="btn btn-outline-success">Login</button></a>
				

				
					<a lass="nav-link text-dark" asp-area="" asp-controller="Account"
				   asp-action="Register"><button class="btn btn-outline-primary">Register</button></a>
			}
		</p>
	</div>
</section>


			